<app-dashboard></app-dashboard>
<div class="container-fluid">
  <header class="text-center text-light my-4">
    <h1 class="text-uppercase">Clients Archived List</h1>
    <div class="d-flex justify-content-center align-items-center mb-3">
      <form class="search" (submit)="$event.preventDefault()">
        <input class="form-control m-auto" type="text" placeholder="Search client" [(ngModel)]="searchTerm" name="search" />
      </form>
    </div>
  </header>
</div>
<div class="scrollable-table-container">
  <table>
    <thead>
      <tr>
        <th>Nom et prénom</th>
        <th>Pack</th>
        <th>Communication</th>
        <th>Date de début</th>
        <th>Agent</th>
        <th>Montant à payer</th>
        <th>Reste</th>
        <th>Payement</th>
        <th>Tranche 1</th>
        <th>Tranche 2</th>
        <th>Tranche 3</th>
        <th>Tranche 4</th>
        <th>Tranche 5</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of filterClients()">
        <td>
          <a (click)="openClientDialog(client.idClients)">
            {{ client.prenomClient }} {{ client.nomClient }}
          </a>
        </td>

        <!-- Pack -->
        <td>
            <select
              class="select-btn"
              [ngClass]="client.service.toLowerCase()"
              [(ngModel)]="client.service"
              (change)="changePack(client)"
              disabled
            >
              <option *ngFor="let option of packOptions" [value]="option">{{ option }}</option>
            </select>
          </td>
          

        <!-- Communication -->
        <td>
          {{ client.payementClient?.length ? 'OUI' : 'NON' }}
        </td>

        <!-- Date début -->
        <td>{{ client.payementClient?.length ? client.payementClient[0]?.dateCreation : '-' }}</td>

        <!-- Agent -->
        <td>
          {{client.assignedToTunisie.prenom}}  {{client.assignedToTunisie.nom}} 
        </td>

        <!-- Montant -->
        <td class="green-text">
          {{ client.payementClient?.length ? client.payementClient[0]?.montantaTotal : '-' }}
        </td>

        <!-- Reste -->
        <td [ngClass]="{'light-red': client.payementClient?.[0]?.leReste > 0}">
          <span>
            {{ client.payementClient?.length ? client.payementClient[0]?.leReste : '-' }}
          </span>
        </td>
        

        <td>
          <span>
            {{ client.payementClient?.length ? client.payementClient[0]?.montantaTotal - client.payementClient[0]?.leReste : '-' }}
          </span>
        </td>

        <!-- Tranches -->
        <td [ngClass]="getTrancheClass(client, 0)">{{ getTrancheMontant(client, 0) }}</td>
        <td [ngClass]="getTrancheClass(client, 1)">{{ getTrancheMontant(client, 1) }}</td>
        <td [ngClass]="getTrancheClass(client, 2)">{{ getTrancheMontant(client, 2) }}</td>
        <td [ngClass]="getTrancheClass(client, 3)">{{ getTrancheMontant(client, 3) }}</td>
        <td [ngClass]="getTrancheClass(client, 4)">{{ getTrancheMontant(client, 4) }}</td>
        <!-- Actions -->
        <td>
          <div class="action-buttons">
            <button 
              class="icon-button"
              (click)="confirmUnarchiveBox(client.idClients)">
              🔄
            </button>
        
            <button *ngIf="isSuperAdmin" class="icon-button" (click)="confirmDeleteBox(client.idClients)" title="delete">
              🗑️
            </button>
          </div>
        </td>
        

       </tr>
    </tbody>
  </table>
</div>
