.notifications {
  width: 350px;
  padding: 10px;
  border-radius: 5px 0px 5px 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notifications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mark-all-read {
  color: #af2f64;
  border: none;
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
  background: none;
  font-weight: 600;
}

.mark-all-read:hover {
  color: #ca84a1;
}

h2 {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #999;
  margin: 0;
}

.slider-container {
  overflow-y: auto;
}

.notifications-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 6px 9px;
  margin-bottom: 2px;
  height: 100px;
  cursor: pointer;
}

.notifications-item:hover {
  background-color: #eee;
}

.notifications-itemNotReaded {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 6px 9px;
  margin-bottom: 2px;
  height: 100px;
  cursor: pointer;
  background-color: #eee;
}

img {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 9px;
  border-radius: 50%;
}

.icon-text-container {
  display: flex;
  align-items: center;
}

.icon-text-container i {
  font-size: 35px;
  margin-right: 19px;
  color: #af2f64;
}

.text {
  flex-grow: 1;
  position: relative;
}

.text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.text h4 {
  color: #777;
  font-size: 16px;
  margin: 0;
  margin-top: 15px;
}

.text p {
  color: #aaa;
  font-size: 12px;
  margin-top: 10px;
}

.notification-date {
  color: #aaa;
  font-size: 12px;
  margin-left: 95px;
}

.show-more {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  background-color: #af2f64;
  color: white;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.show-more:hover {
  background-color: #961c50;
}