<div class="header bg-gradient-danger py-3 py-lg-5">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">RESET PASSWORD</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
</div>

<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <form [formGroup]="forminput">
                        <div class="form-group mb-3">
                          <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                            </div>
                            <input class="form-control" id="inputEmail14" formControlName="email" placeholder="Email" type="email">
                          </div>
                          <div *ngIf="submitted && forminput.controls['email'].hasError('required')" class="alert alert-danger" role="alert">
                            Email is required.
                          </div>
                          <div *ngIf="submitted && forminput.controls['email'].hasError('email')" class="alert alert-danger" role="alert">
                            Email syntax is wrong!
                          </div>
                        </div>
                      
                        <!-- Submit Button -->
                        <div class="text-center">
                          <button class="btn btn-primary my-4" type="button" (click)="reset()"> reset </button>
                          <div *ngIf="showAlert" class="myAlert-top alert alert-success">
                            <a class="close" (click)="closeAlert()" aria-label="close">&times;</a>
                            An email has been sent to your account.
                          </div>
                          <div *ngIf="showErrorAlert" class="myAlert-bottom alert alert-danger">
                            <a class="close" (click)="closeErrorAlert()" aria-label="close">&times;</a>
                            Error: Email not found!
                          </div>
                        </div>
                      </form>
                      
                </div>
            </div>

            <!-- Footer Links -->
            <div class="row mt-3">
                <div class="col-6">
                    <a href="/#/login" class="text-light"><small>Sign In?</small></a>
                </div>
            </div>

        </div>
    </div>
</div>
