<app-dashboard></app-dashboard>
<div class="container-fluid">
  <header class="text-center text-light my-4">
    <h1 class="text-uppercase">All Clients List</h1>
    <div class="d-flex justify-content-center align-items-center mb-3">
      <form class="search" (submit)="$event.preventDefault()">
        <input class="form-control m-auto" type="text" placeholder="Search client" [(ngModel)]="searchTerm" name="search" />
      </form>
    </div>

    <!-- Status Filter Buttons -->
    <div class="btn-group mb-4">
      <button class="btn" [ngClass]="{'btn-primary': selectedStatus === 'ALL'}" (click)="setStatusFilter('ALL')">All</button>
      <button class="btn" [ngClass]="{'btn-warning': selectedStatus === 'EN_COURS'}" (click)="setStatusFilter('EN_COURS')">En Cours</button>
      <button class="btn" [ngClass]="{'btn-success': selectedStatus === 'COMPLETE'}" (click)="setStatusFilter('COMPLETE')">Complete</button>
    </div>
  </header>
</div>

<div class="scrollable-table-container">
  <table>
    <thead>
      <tr>
        <th>Nom et prénom</th>
        <th>Pack</th>
        <th>Communication</th>
        <th>Date de début</th>
        <th>Agent</th>
        <th>Montant à payer</th>
        <th>Reste</th>
        <th>Payement</th>
        <th>Tranche 1</th>
        <th>Tranche 2</th>
        <th>Tranche 3</th>
        <th>Tranche 4</th>
        <th>Tranche 5</th>
        <th>Tranche 6</th>
        <th>Tranche 7</th>
        <th>Tranche 8</th>
        <th>Tranche 9</th>
        <th>Tranche 10</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of filterClients()">
        <!-- Client Name -->
        <td>
          <a (click)="openClientDialog(client.idClients)">
            {{ client.prenomClient }} {{ client.nomClient }}
          </a>
        </td>
      
        <!-- Pack Selection -->
        <td>
          <select
            class="select-btn"
            [ngClass]="client.service?.toLowerCase()"
            [(ngModel)]="client.service"
            (change)="changePack(client)">
            <option *ngFor="let option of getAvailablePackOptions(client.service)" [value]="option">{{ option }}</option>
          </select>
        </td>
      
        <!-- Communication -->
        <td>{{ client.communication }}</td>
      
        <!-- Date de début -->
        <td>{{ client.payementClient?.[0]?.dateCreation || '-' }}</td>
      
        <!-- Agent -->
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" class="green-text">
          {{ client.assignedToTunisie?.prenom || '' }} {{ client.assignedToTunisie?.nom || '' }}
        </td>
      
        <!-- Montant à payer -->
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" class="green-text">
          {{ client.payementClient?.[0]?.montantaTotal + client.payementClient?.[1]?.montantaTotal || '-' }}
        </td>
      
        <!-- Reste à payer -->
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" [ngClass]="'light-red'">
          {{ client.payementClient?.[0]?.leReste + client.payementClient?.[1]?.leReste || '-' }}
        </td>
      
        <!-- Payé -->
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'">
          {{ (client.payementClient?.[0]?.montantaTotal + client.payementClient?.[1]?.montantaTotal ) - (client.payementClient?.[0]?.leReste + client.payementClient?.[1]?.leReste) || '-' }}
        </td>
      
        <!-- Tranches -->
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" [ngClass]="getTrancheClass(client,0, 0)">
          {{ getTrancheMontant(client, 0, 0) }}
        </td>
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" [ngClass]="getTrancheClass(client, 1, 0)">
          {{ getTrancheMontant(client, 1, 0) }}
        </td>
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" [ngClass]="getTrancheClass(client, 2, 0)">
          {{ getTrancheMontant(client, 2, 0) }}
        </td>
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" [ngClass]="getTrancheClass(client, 3, 0)">
          {{ getTrancheMontant(client, 3, 0) }}
        </td>
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" [ngClass]="getTrancheClass(client, 4, 0)">
          {{ getTrancheMontant(client, 4,0) }}
        </td>
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" [ngClass]="getTrancheClass(client,0, 1)">
          {{ getTrancheMontant(client, 0, 1) }}
        </td>
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" [ngClass]="getTrancheClass(client, 1, 1)">
          {{ getTrancheMontant(client, 1, 1) }}
        </td>
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" [ngClass]="getTrancheClass(client, 2, 1)">
          {{ getTrancheMontant(client, 2, 1) }}
        </td>
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" [ngClass]="getTrancheClass(client, 3, 1)">
          {{ getTrancheMontant(client, 3, 1) }}
        </td>
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'" [ngClass]="getTrancheClass(client, 4, 1)">
          {{ getTrancheMontant(client, 4,1) }}
        </td>

        
        <!-- Actions -->
        <td *ngIf="role === 'ADMIN_TUNISIE' || role === 'SUPER_ADMIN'">
          <button *ngIf="!client.payementClient?.length" class="btn btn-sm btn-primary" (click)="openADDPaymenetDialog(client.idClients)">
            + Ajouter Paiement
          </button>
          <button *ngIf="client.payementClient?.length" class="icon-button" (click)="confirmArchiveBox(client.idClients)">
            📂
          </button>
        </td>
      
        <!-- For ADMIN_ITALIE role -->
        <ng-container *ngIf="role === 'ADMIN_ITALIE'">
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </ng-container>
      </tr>
      
    </tbody>
  </table>
</div>
