<app-dashboard></app-dashboard>

<div class="scrollable-table-container">
  <table>
    <thead>
      <tr>
        <th>Nom et prénom</th>
        <th>Pack</th>
        <th>Communication</th>
        <th>Date de début</th>
        <th>Agent</th>
        <th>Montant à payer</th>
        <th>Reste</th>
        <th>Payement</th>
        <th>Tranche 1</th>
        <th>Tranche 2</th>
        <th>Tranche 3</th>
        <th>Tranche 4</th>
        <th>Tranche 5</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>
          <a (click)="openClientDialog(client.idClients)">
            {{ client.prenomClient }} {{ client.nomClient }}
          </a>
        </td>

        <!-- Pack -->
        <td>
          <select
            class="select-btn"
            [ngClass]="client.service.toLowerCase()"
            [(ngModel)]="client.service"
            (change)="changePack(client)">
            <option *ngFor="let option of packOptions" [value]="option">{{ option }}</option>
          </select>
        </td>

        <!-- Communication -->
        <td>
          {{ client.payementClient?.length ? 'OUI' : 'NON' }}
        </td>

        <!-- Date début -->
        <td>{{ client.payementClient?.length ? client.payementClient[0]?.dateCreation : '-' }}</td>

        <!-- Agent -->
        <td>
          {{client.assignedTo.prenom}}  {{client.assignedTo.nom}} 
        </td>

        <!-- Montant -->
        <td class="green-text">
          {{ client.payementClient?.length ? client.payementClient[0]?.montantaTotal : '-' }}
        </td>

        <!-- Reste -->
        <td [ngClass]="{'light-red': client.payementClient?.[0]?.leReste > 0}">
          <span>
            {{ client.payementClient?.length ? client.payementClient[0]?.leReste : '-' }}
          </span>
        </td>
        

        <td>
          <span>
            {{ client.payementClient?.length ? client.payementClient[0]?.montantaTotal - client.payementClient[0]?.leReste : '-' }}
          </span>
        </td>

        <!-- Tranches -->
        <td [ngClass]="getTrancheClass(client, 0)">{{ getTrancheMontant(client, 0) }}</td>
        <td [ngClass]="getTrancheClass(client, 1)">{{ getTrancheMontant(client, 1) }}</td>
        <td [ngClass]="getTrancheClass(client, 2)">{{ getTrancheMontant(client, 2) }}</td>
        <td [ngClass]="getTrancheClass(client, 3)">{{ getTrancheMontant(client, 3) }}</td>
        <td [ngClass]="getTrancheClass(client, 4)">{{ getTrancheMontant(client, 4) }}</td>
        <!-- Actions -->
       <td>
        <button 
         *ngIf="!client.payementClient[0]"
         class="btn btn-sm btn-primary" 
        (click)="openADDPaymenetDialog(client.idClients)">
        + Ajouter Paiement
        </button>
        <button 
         *ngIf="client.payementClient[0]"
         class="icon-button"
         (click)="confirmArchiveBox(client.idClients)">
         📂
        </button>
      </td>

       </tr>
    </tbody>
  </table>
</div>
