.custom-navbar-container {
  height: 100%; /* Set a fixed height */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-img {
  height: 65%; /* control image size smaller */
  width: 65%;  /* keep aspect ratio */
  object-fit: contain; /* make sure it fits nicely without stretching */
}
