<div class="header bg-gradient-danger pt-5 pt-md-8"  style="padding-bottom: 80px;">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <header class="text-center text-light my-4">
    <h1 class="text-uppercase">Tasks List</h1>
    <div class="d-flex justify-content-center align-items-center">
      <form class="search" (submit)="$event.preventDefault()">
        <input class="form-control m-auto" type="text" placeholder="Search" [(ngModel)]="searchTerm" name="search" />
      </form>
      <div *ngIf="isSuperAdmin">
        <button class="btn btn-primary" (click)="openDialog()">+ Add Task</button>
      </div>
    </div>
    
    <!-- Status Filter Buttons -->
    <div class="btn-group mt-3">
      <button class="btn" [ngClass]="{'btn-primary': selectedStatus === 'ALL'}" (click)="setStatusFilter('ALL')">All</button>
      <button class="btn" [ngClass]="{'btn-info': selectedStatus === 'PAS_ENCORE'}" (click)="setStatusFilter('PAS_ENCORE')">Not Started</button>
      <button class="btn" [ngClass]="{'btn-warning': selectedStatus === 'EN_COURS'}" (click)="setStatusFilter('EN_COURS')">In Progress</button>
      <button class="btn" [ngClass]="{'btn-success': selectedStatus === 'DONE'}" (click)="setStatusFilter('DONE')">Done</button>
    </div>

  </header>

  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let task of filterTasks(); let i = index" class="card1 text-dark m-2">
      <h6 class="card-subtitle">{{ getTimeDifference(i) }}</h6>
      <div class="card-body">
        <h5 (click)="editingTaskId === null && openTaskDetailsDialog(task.idTache)">
          <ng-container *ngIf="editingTaskId !== task.idTache; else editMode">
            <i class="fa-solid fa-list-check icon"></i>
            <span class="card-title">{{ task.titre }}</span>
          </ng-container>
          <ng-template #editMode>
            <textarea class="form-control" type="text" [(ngModel)]="task.titre"></textarea>
          </ng-template>
        </h5>
        <p class="card-text">
          <ng-container *ngIf="editingTaskId !== task.idTache; else editModeDescription">
            <span [innerHTML]="task.description"></span>
          </ng-container>
          <ng-template #editModeDescription>
            <textarea class="form-control" rows="5" [(ngModel)]="task.description"></textarea>
          </ng-template>
          <br>
          <span class="deadline">Deadline in: {{ getDeadlineTimeDifference(i) }}</span>
        </p>
        <span class="badge" [ngClass]="getTaskStatusClass(task.status)">{{ task.status }}</span>
        
        <ng-container *ngIf="editingTaskId !== task.idTache; else editPriority">
          <span class="priority-badge">{{task.priority }}</span>
        </ng-container>
        
        <ng-template #editPriority>
          <select class="form-control" [(ngModel)]="task.priority">
            <option value="Aucun">Aucun</option>
            <option value="Faible">Faible</option>
            <option value="Moyenne">Moyenne</option>
            <option value="Elevée">Elevée</option>
          </select>
        </ng-template>
        
        <i *ngIf="isSuperAdmin" class="far fa-trash-alt delete" (click)="confirmArchiveBox(task.idTache)"></i>
        <i *ngIf="isSuperAdmin && editingTaskId !== task.idTache" class="far fa-edit edit" (click)="toggleEdit(task.idTache)"></i>
        <i *ngIf="isSuperAdmin && editingTaskId === task.idTache" class="far fa-check-circle save" (click)="updateTask(task.idTache, task)"></i>
        <i *ngIf="isSuperAdmin" class="far fa-comment-alt comment" (click)="openCommentDialog(task.idTache)"></i>
        <i *ngIf="!isSuperAdmin" class="far fa-comment-alt comment1" (click)="openCommentDialog(task.idTache)"></i>

      </div>
    </div>
  </div>
</div>

