<div class="app-container">
    <div class="main-grid">
      <section class="profile-info">
        <div class="profile-header">
          <div class="profile-image">
            <a href="javascript:void(0)">
              <img
                [src]="'assets/img/theme/team-2-800x800.jpg'"
                class="rounded-circle"
                (click)="triggerFileInput()"
                style="cursor: pointer;"
              >
            </a>
          </div>
          <input 
            type="file" 
            #fileInput 
            (change)="onFileSelected($event)" 
            style="display: none;" 
            accept="image/*"
          >
        </div>
      
        <div class="profile-details">
          <p><strong>Nom et Prénom:</strong> Ahmed Bougacha</p>
          <p><strong>Date naissance:</strong> 05/02/1998</p>
          <p><strong>Adresse e-mail:</strong> Bougacha.ahmed98gmail.com</p>
          <p><strong>numéro téléphone:</strong> +21656735416</p>
          <p><strong>Langue:</strong> Italie</p>
          <p><strong>Code postal:</strong> 2000</p>
          <p><strong>Adresse:</strong> 6 rue ahla wasahla</p>
          <p><strong>ville:</strong> Tunis</p>
          <p><strong>Gérer par:</strong> Nour</p>
        </div>
      
        <button class="see-more">
          Voir plus
        </button>
      </section>
      
          
  
      <section class="documents">
        <div class="doc-card" *ngFor="let doc of documents">
            <div class="doc-img">
                <img [src]="doc.isEmpty ? 'assets/icons/vide.png' : 'assets/icons/file.png'" alt="document icon" />
            </div>
            <p>{{ doc.name }}</p>
          <div class="doc-actions">
            <button class="btn green">Modifier</button>
          </div>
        </div>
      </section>
  
      <section class="payment-summary">
        <div class="summary-details">
          <p><strong>Montant à payer:</strong> 5900 DT</p>
          <p class="remaining"><strong>Reste:</strong> 3500 DT</p>
          <p><strong>Tranches:</strong> 5</p>
        </div>
        <button class="see-more" (click)="openPaymenetDialog(1)">
          Voir plus
        </button>
      </section>
      
    </div>
  
    <footer class="actions">
      <button class="archive">Archiver</button>
      <button class="delete">Supprimer</button>
    </footer>
  </div>
  