<div class="university-dialog-container center-screen">
<h2 class="dialog-title">Liste des Universités</h2>

<div class="university-list">
  <div class="university-card" *ngFor="let uni of universities">
    <p><strong>Nom:</strong> {{ uni.nomUniversity }}</p>
    <p><strong>Ville:</strong> {{ uni.city }}</p>
    <p><strong>Spécialisation:</strong> {{ uni.specialization }}</p>
  </div>
</div>

<div class="dialog-actions">
  <button class="btn" (click)="addUniversity()">➕ Ajouter Université</button>
  <button class="btn cancel" (click)="close()">Fermer</button>
</div>
</div>