<div class="center-screen card">
    <div class="title mx-auto">Task Details</div>
    <span class="badge" [ngClass]="getTaskStatusClass(task.status)">{{ task.status }}</span>

    <div class="main">
      <hr>
      <div class="detail-section">
        <p><b>Task Title:</b> {{ task.titre }}</p>
        <p><b>Task Description:</b> {{ task.description }}</p>
        <p><b>Task Date:</b> {{ task.dateCreation| date: 'short' }}</p>
        <p><b>Deadline:</b> {{ task.dueDate| date: 'short' }}</p>
        <p><b>Priority: </b>
          <span class="priority-badge" [ngClass]="getPriorityBadgeClass(task.priority)">
            {{ task.priority }}
          </span>
        </p>
      </div>
      <hr>
      <div id="sub-title">
        <p><b>Attached to:</b></p>
      </div>
      <div style="background-color: #eee4e4; margin-bottom: 8px; border-radius: 9px; border-width: 1px;" class="row"
       *ngFor="let user of users">
        <div class="col-2 user-img-container">
          <img class="img-fluid user-img" [src]="user.profileImageUrl" alt="User Image">
        </div>
        <div style="padding-bottom: 7px; padding-top: 7px;" class="col-6">
          <div class="row d-flex">
            <p><b>{{ user.prenom }} {{ user.nom }}</b></p>
          </div>
          <div class="row d-flex">
            <p class="text-muted">{{ user.role.libelleRole }}</p>
          </div>
        </div>
        <div class="col-3 d-flex justify-content-end">
          <span class="badge badge-dot mr-4">
            <i *ngIf="user.statusCompte.idStatusCompte === 2" class="bg-warning"></i>
            <i *ngIf="user.statusCompte.idStatusCompte === 1" class="bg-success"></i>
             {{user.statusCompte.libelleStatusCompte }}
          </span>
          
        </div>
      </div>
      <hr>
    <div id="sub-title">
      <p><b>Taken by:</b></p>
    </div>
    <div *ngIf="usr !== null" style="background-color: #eee4e4; margin-bottom: 8px; border-radius: 9px; border-width: 1px;"
     class="row" >
      <div class="col-2 user-img-container">
        <img class="img-fluid user-img" [src]="usr.profileImageUrl" alt="User Image">
      </div>
      <div style="padding-bottom: 7px; padding-top: 7px;" class="col-6">
        <div class="row d-flex">
          <p><b>{{ usr.prenom }} {{ usr.nom }}</b></p>
        </div>
        <div class="row d-flex">
          <p class="text-muted">{{ usr.role.libelleRole }}</p>
        </div>
      </div>
    </div>
      <hr>
      <div class="button-container">
        <button class="btn btn-cancel" (click)="closeDialog()">Cancel</button>
        <button *ngIf="usrr.role?.libelleRole === 'ADMIN' && task.status === 'PAS_ENCORE'" 
        class="btn btn-primary" (click)="TakeTask()">Take</button>
        <button *ngIf="usrr.role?.libelleRole === 'ADMIN' && task.status === 'EN_COURS' && usrr.idUtilisateur === usr.idUtilisateur" 
        class="btn btn-primary" 
        (click)="Finish()">Finish</button>
      </div>
    </div>
  </div>
  