<div class="credentials-container center-screen" *ngIf="credential">
  <!-- Outlook -->
  <div class="header">
    <div class="title">Credential List</div> <!-- Optional title -->
    <button class="close-button" (click)="closeDialog()">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
           stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
  </div>  
  <!-- Outlook -->
<div class="credential-card">
  <div class="logo-section">
    <img src="/assets/img/outlook.png" alt="Outlook" />
  </div>
  <div class="info-section">
    <div>
      <strong>E-mail</strong><br />
      <ng-container *ngIf="!editMode.emailOutlook; else editOutlookEmail">
        {{ credential.emailOutlook }}
      </ng-container>
      <ng-template #editOutlookEmail>
        <input
          [(ngModel)]="credential.emailOutlook"
          class="edit-input"
          (blur)="saveFieldAndExitEdit('emailOutlook')"
          (keydown.enter)="saveFieldAndExitEdit('emailOutlook')"
        />
      </ng-template>
    </div>
    <div>
      <strong>Mot de passe</strong><br />
      <ng-container *ngIf="!editMode.passwrodOutlook; else editOutlookPass">
        {{ credential.passwrodOutlook }}
      </ng-container>
      <ng-template #editOutlookPass>
        <input
          [(ngModel)]="credential.passwrodOutlook"
          class="edit-input"
          (blur)="saveFieldAndExitEdit('passwrodOutlook')"
          (keydown.enter)="saveFieldAndExitEdit('passwrodOutlook')"
        />
      </ng-template>
    </div>
  </div>
  <div class="edit-section">
    <span class="edit-icon" (click)="toggleEdit('emailOutlook')">📧</span>
    <span class="edit-icon" (click)="toggleEdit('passwrodOutlook')">🔒</span>
  </div>
</div>

<!-- Gmail -->
<div class="credential-card">
  <div class="logo-section">
    <img src="/assets/img/brand/red.png" alt="Gmail" />
  </div>
  <div class="info-section">
    <div>
      <strong>E-mail</strong><br />
      <ng-container *ngIf="!editMode.emailGmail; else editGmailEmail">
        {{ credential.emailGmail }}
      </ng-container>
      <ng-template #editGmailEmail>
        <input
          [(ngModel)]="credential.emailGmail"
          class="edit-input"
          (blur)="saveFieldAndExitEdit('emailGmail')"
          (keydown.enter)="saveFieldAndExitEdit('emailGmail')"
        />
      </ng-template>
    </div>
    <div>
      <strong>Mot de passe</strong><br />
      <ng-container *ngIf="!editMode.passwrodGmail; else editGmailPass">
        {{ credential.passwrodGmail }}
      </ng-container>
      <ng-template #editGmailPass>
        <input
          [(ngModel)]="credential.passwrodGmail"
          class="edit-input"
          (blur)="saveFieldAndExitEdit('passwrodGmail')"
          (keydown.enter)="saveFieldAndExitEdit('passwrodGmail')"
        />
      </ng-template>
    </div>
  </div>
  <div class="edit-section">
    <span class="edit-icon" (click)="toggleEdit('emailGmail')">📧</span>
    <span class="edit-icon" (click)="toggleEdit('passwrodGmail')">🔒</span>
  </div>
</div>

<!-- Prenotami -->
<div class="credential-card">
  <div class="logo-section">
    <img src="/assets/img/prenomtami.png" alt="Prenotami" />
  </div>
  <div class="info-section">
    <div>
      <strong>E-mail</strong><br />
      <ng-container *ngIf="!editMode.prenotami; else editPrenotamiEmail">
        {{ credential.prenotami }}
      </ng-container>
      <ng-template #editPrenotamiEmail>
        <input
          [(ngModel)]="credential.prenotami"
          class="edit-input"
          (blur)="saveFieldAndExitEdit('prenotami')"
          (keydown.enter)="saveFieldAndExitEdit('prenotami')"
        />
      </ng-template>
    </div>
    <div>
      <strong>Mot de passe</strong><br />
      <ng-container *ngIf="!editMode.passwordPrenotami; else editPrenotamiPass">
        {{ credential.passwordPrenotami }}
      </ng-container>
      <ng-template #editPrenotamiPass>
        <input
          [(ngModel)]="credential.passwordPrenotami"
          class="edit-input"
          (blur)="saveFieldAndExitEdit('passwordPrenotami')"
          (keydown.enter)="saveFieldAndExitEdit('passwordPrenotami')"
        />
      </ng-template>
    </div>
  </div>
  <div class="edit-section">
    <span class="edit-icon" (click)="toggleEdit('prenotami')">📧</span>
    <span class="edit-icon" (click)="toggleEdit('passwordPrenotami')">🔒</span>
  </div>
</div>


  <div class="add-btn-wrapper">
    <button class="seeUniversity-btn" (click)="openUniversityDialog()">University List</button>
  </div>
  <!-- University Dialog -->
  <div class="university-dialog-container" *ngIf="showUniversityList">
    <h2 class="dialog-title">Liste des Universités</h2>
  
    <div class="university-list">
      <div class="university-card" *ngFor="let uni of universities; let i = index">
        <!-- Nom Université -->
        <p>
          <strong>Nom:</strong>
          <ng-container *ngIf="!editUniversityIndexMap[i]?.nomUniversite; else editNomUni">
            {{ uni.nomUniversite }}
            <span class="edit-icon" (click)="toggleEditUniversityField(i, 'nomUniversite')">✏️</span>
          </ng-container>
          <ng-template #editNomUni>
            <input [(ngModel)]="uni.nomUniversite"
                   class="edit-input"
                   (blur)="saveUniversityField(i)"
                   (keydown.enter)="saveUniversityField(i)" />
          </ng-template>
        </p>
          <!-- Type Université -->
        <p>
          <strong>Type Université:</strong>
          <ng-container *ngIf="!editUniversityIndexMap[i]?.univeriste; else editTypeUni">
            {{ uni.univeriste }}
            <span class="edit-icon" (click)="toggleEditUniversityField(i, 'univeriste')">✏️</span>
          </ng-container>
          <ng-template #editTypeUni>
            <select [(ngModel)]="uni.univeriste"
                    class="edit-input"
                    (blur)="saveUniversityField(i)"
                    (keydown.enter)="saveUniversityField(i)">
              <option value="UNIVERSITE">Université</option>
              <option value="UNIVERSITALY">Université Italy</option>
            </select>
          </ng-template>
        </p>
        <!-- Email -->
        <p>
          <strong>Email:</strong>
          <ng-container *ngIf="!editUniversityIndexMap[i]?.emailUniversite; else editEmailUni">
            {{ uni.emailUniversite }}
            <span class="edit-icon" (click)="toggleEditUniversityField(i, 'emailUniversite')">✏️</span>
          </ng-container>
          <ng-template #editEmailUni>
            <input [(ngModel)]="uni.emailUniversite"
                   class="edit-input"
                   (blur)="saveUniversityField(i)"
                   (keydown.enter)="saveUniversityField(i)" />
          </ng-template>
        </p>
    
        <!-- Password -->
        <p>
          <strong>Mot de passe:</strong>
          <ng-container *ngIf="!editUniversityIndexMap[i]?.passwordUniversite; else editPasswordUni">
            {{ uni.passwordUniversite }}
            <span class="edit-icon" (click)="toggleEditUniversityField(i, 'passwordUniversite')">✏️</span>
          </ng-container>
          <ng-template #editPasswordUni>
            <input [(ngModel)]="uni.passwordUniversite"
                   class="edit-input"
                   (blur)="saveUniversityField(i)"
                   (keydown.enter)="saveUniversityField(i)" />
          </ng-template>
        </p>
      </div>
    </div>
    
    
    <div class="dialog-actions">
      <button class="btn" (click)="openAddUniversityForm()">➕ Ajouter Université</button>
      <button class="btn cancel" (click)="closeUniversityDialog()">Fermer</button>
    </div>
  </div>
  <!-- Add University Form Dialog -->
  <div class="university-form-dialog" *ngIf="showAddUniversityForm">
    <h3>Ajouter Université</h3>
    <div class="form-group">
      <label>Nom Université</label>
      <input type="text" [(ngModel)]="newUniversity.nomUniversite" class="edit-input" />
    </div>
    <div class="form-group">
      <label>Type Université</label>
      <select [(ngModel)]="newUniversity.univeriste" class="edit-input">
        <option value="UNIVERSITE">Université</option>
        <option value="UNIVERSITALY">Université Italy</option>
      </select>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="newUniversity.emailUniversite" class="edit-input" />
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <input type="text" [(ngModel)]="newUniversity.passwordUniversite" class="edit-input" />
    </div>
    <div class="dialog-actions">
      <button class="btn" (click)="submitNewUniversity()">💾 Enregistrer </button>
      <button class="btn cancel" (click)="cancelAddUniversity()">❌ Annuler</button>
    </div>
  </div>
  
  <div class="programme-preinscrit">
    <div class="left-input">
      <label for="programmeEtude">Programme d’étude</label>
      <input
        id="programmeEtude"
        type="text"
        [(ngModel)]="credential.programmeEtude"
        (ngModelChange)="saveFieldUpdate()"
        class="edit-input"
        [disabled]="shouldDisableFields()"
      />
    </div>
  
    <div class="right-select">
      <label for="preInscrit">Pré-inscrit</label>
      <select
        id="preInscrit"
        [(ngModel)]="credential.preInscrit"
        (ngModelChange)="saveFieldUpdate()"
        class="edit-input"
        [disabled]="shouldDisablePresInscritFieldForAdminTunisie()"
      >
        <option value="PAS_ENCORE">Pas encore</option>
        <option value="EN_COURS">En cours</option>
        <option value="DONE">Done</option>
      </select>
    </div>
  </div>
  
  <button class="plus-btn" (click)="openRdvDialog()">+ Add New RDV</button>
  <div class="rdv-dialog" *ngIf="showAdRDVDialog">
    <div class="dialog-card">
      <h3>New Rendez-vous</h3>
      <label>
        Title:
        <input type="text" [(ngModel)]="newRdv.titreRDV" />
      </label>
      <label>
        Date:
        <input type="datetime-local" [(ngModel)]="newRdv.dateRendezVous" />
      </label>
      <label>
        Status:
        <select [(ngModel)]="newRdv.enumRendezVous">
          <option value="NON_VALIDER">NON VALIDER</option>
          <option value="VALIDER">VALIDER</option>
        </select>
      </label>
      <div class="dialog-actions">
        <button (click)="addRdv()">Add</button>
        <button (click)="cancelAddRDV()">Cancel</button>
      </div>
    </div>
  </div>
  <div class="rdv-list">
    <div *ngFor="let rdv of RDVs" class="action-bar">
      <div class="action-content">
        <p>Rendez-vous du {{ rdv.titreRDV }} : {{ rdv.dateRendezVous | date: 'dd/MM/yyyy - HH:mm' }}</p>
        <span class="edit-icon" (click)="openEditRDVDialog(rdv)">✏️</span>
        <span class="edit-icon" (click)="confirmDeleteRDV(rdv)">🗑️</span>
      </div>
      
      <div class="rdv-dialog" *ngIf="showEditRDVDialog">
        <div class="dialog-card">
          <h3>Update Rendez-vous</h3>
          <label>
            Title:
            <input type="text" [(ngModel)]="selectedRdv.titreRDV" />
          </label>
          <label>
            Date:
            <input type="datetime-local" [(ngModel)]="selectedRdv.dateRendezVous" />
          </label>
          <label>
            Status:
            <select [(ngModel)]="selectedRdv.enumRendezVous">
              <option value="NON_VALIDER">NON VALIDER</option>
              <option value="VALIDER">VALIDER</option>
            </select>
          </label>
          <div class="dialog-actions">
            <button (click)="updateRdv()">💾 Update</button>
            <button (click)="cancelEditRDV()">❌ Cancel</button>
          </div>
        </div>
      </div>
      
      <div class="buttons">
        <ng-container *ngIf="rdv.enumRendezVous === 'NON_VALIDER'; else validatedLabel">
          <span class="validatedd-text">NON VALIDER</span>
          <button class="circle-btn success" (click)="validateRendezVous(rdv)">✔</button>
        </ng-container>
        <ng-template #validatedLabel>
          <span class="validated-text">✔ VALIDER</span>
        </ng-template>
      </div>
    </div>
  </div>
  
  

  

</div>
