<div class="center-screen">
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div class="big-container p-4">
            <!-- Close Button -->
            <div class="d-flex justify-content-between align-items-center">
              <h3>Comments</h3>
            </div>
  
            <div class="d-flex justify-content-center pt-3 pb-2" [formGroup]="forminput">
              <input type="text" name="text" id="inputcommenttext" formControlName="commenttext" placeholder="Enter your comment..." class="form-control addtxt card-style">
              <button class="btn btn-primary ms-2" (click)="sendComment()">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
  
            <div class="card p-3 mb-3" *ngFor="let com of comments; let i = index">
              <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                  <img [src]="com.utilisateur.profileImageUrl" width="30" class="user-img rounded-circle mr-2">
                  <span class="font-weight-bold text-primary">{{com.utilisateur.prenom}} {{com.utilisateur.nom}}</span>
                </div>
                <small class="timestamp">{{getTimeDifference(i)}}</small>
              </div>
              <div class="comment-description">
                <small class="font-weight-bold">{{com.contenu}}</small>
              </div>
 
              <i class="far fa-trash-alt delete" (click)="deleteComment(com.idCommentaire)"></i>
            </div>
            <hr>
            <div class="button-container">
              <button class="btn btn-cancel" (click)="closeDialog()"> Close</button>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  