<div class="header bg-gradient-danger pt-5 pt-md-8" style="padding-bottom: 80px;">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">table of users</h3>
            </div>
            <div class="col-4 text-right">
              <button *ngIf="role === 'SUPER_ADMIN'" 
              (click)="openAddUserDialog()" 
              class="btn btn-sm btn-primary" type="button">Add User</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Mail Adress</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Status</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usr of listusr ">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img [src]="usr.profileImageUrl" class="avatar rounded-circle">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"> {{usr.nom }}  {{usr.prenom }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{usr.adresseMail }}
                </td>
                <td>
                  {{usr.telephone }}
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i *ngIf="usr.statusCompte.idStatusCompte === 2" class="bg-warning"></i>
                    <i *ngIf="usr.statusCompte.idStatusCompte === 1" class="bg-success"></i>
                     {{usr.statusCompte.libelleStatusCompte }}
                  </span>
                </td>
                <td>
                  {{usr.role.libelleRole }}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a 
                      class="btn btn-sm btn-icon-only text-light"  
                      ngbDropdownToggle 
                      *ngIf="role === 'SUPER_ADMIN'"
                      [class.disabled]="usr.role.libelleRole === 'SUPER_ADMIN'"
                      [attr.aria-disabled]="usr.role.libelleRole === 'SUPER_ADMIN' ? 'true' : null"
                    >
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                      <a 
                        class="dropdown-item" 
                        *ngIf="role === 'SUPER_ADMIN'"
                        (click)="openUpdateDialog(usr.idUtilisateur)" 
                        [class.disabled]="usr.role.libelleRole === 'SUPER_ADMIN'"
                        [attr.aria-disabled]="usr.role.libelleRole === 'SUPER_ADMIN' ? 'true' : null"
                      >
                        Update
                      </a>
                      <a 
                        class="dropdown-item" 
                        *ngIf="role === 'SUPER_ADMIN'"
                        (click)="usr?.statusCompte?.idStatusCompte === 1 ? confirmDeactivatedBox(usr) : confirmActivatedBox(usr)"
                        [class.disabled]="usr?.role?.libelleRole === 'SUPER_ADMIN'"
                        [attr.aria-disabled]="usr?.role?.libelleRole === 'SUPER_ADMIN' ? 'true' : null"
                      >
                        {{ usr?.statusCompte?.idStatusCompte === 1 ? 'Deactivate' : 'Activate' }}
                      </a>
                    </div>
                  </div>
                </td>
                
                
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
